


.collection {
  padding: 40px 6%;
  background-color: #ffffff;
  text-align: center;
  min-height: 100vh; 
}

.collection h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #000000;
  font-weight: 700;
}

.collection_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px;
  margin-bottom: 30px; 
}

.collection_item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  transition: transform 0.3s ease;
}

.collection_item:hover {
  transform: translateY(-5px);
}

.collection_item img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
  border: 2px solid black;
  transition: transform 0.3s ease;
}

.collection_item h3 {
  font-size: 1.2rem;
  margin: 8px 0;
  color: #333;
}

.collection_item span {
  color: #ff0505;
  font-weight: bold;
}

.collection_item button {
  margin-top: 10px;
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

.collection_item button:hover {
  background-color: #616161;
}

.modal_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: rgb(243, 200, 200);
  border: 2px solid #000;
  box-shadow: 24;
  padding: 20px;
  border-radius: 10px;
}


@media (max-width: 1024px) {
  .collection_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .collection_container {
    grid-template-columns: 1fr;
  }

  .collection h1 {
    font-size: 2rem;
  }
}
