

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  height: 60px;
}

.navbar-container {
   
    display: flex
;
    justify-content: space-between;
    align-items: center;
    
  
    color: black;
    
    z-index: 1000;
    top: 0;
}


.navbar-menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    position: relative;
}

.navbar-menu a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.navbar-menu a:hover,
.navbar-menu a.active {
    background: #222;
    color: #fff;
}

.menu-button {
    display: none;
    background: none;
    margin-left: auto;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
    }

    .navbar-container {
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
    }

    .navbar-menu {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .navbar-menu.open {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: absolute;
       top: 99%;
        left: 0;
        width: 100vw;
        background: #f8f8f8;
        box-shadow: 0 8px 16px rgba(0,0,0,0.1);
        z-index: 100;
        padding: 10px 0;
    }

    .navbar-menu li {
        width: 100%;
    }

    .navbar-menu a {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.cart-button{
   height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000000;
    color: white;
    
   
}

.cartpart{
    margin-left: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.profile-button {
     height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}